#navbar{
    display:flex;
    justify-content: end;
    background-color: yellow;
    

}
a{
    text-decoration: none;
    color: black;
}

#navbar div{
    padding: 25px;
}

#groceries{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
}

#groceries div{
    height: 300px;
    width:85%;
    text-align:center;
    border: 1px solid black;
}

img{
    height: 60%;
    width:100%;
}


